@import './variables';

@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

header {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 12% 69px auto auto 6%;
  align-items: center;

  img {
    padding-top: 36px;
    padding-bottom: 36px;
    width: 69px;
    grid-column: 2/3;
  }

  nav {
    position: relative;
    font-family: 'Rubik', sans-serif;
    vertical-align: middle;
    grid-column: 4/5;
    justify-self: end;

    ul {
      display: inline-flex;
      text-align: center;
      gap: 100px;
      align-items: center;
      justify-content: center;

      li {
        position: relative;
        display: table-cell;
        color: $primaryText;
        font-size: 19px;
        cursor: pointer;
      }

      .underlineHover {
        ::after {
          content: '';
          position: absolute;
          background-color: #ff3c78;
          height: 3px;
          width: 0;
          left: 0;
          bottom: -4px;
          transition: 0.3s;
        }

        :hover::after {
          width: calc(100% + 20px);
        }
      }
    }
  }
}
