@import './header';
@import './variables';
@import './homepage';
@import './footer';

html,
body {
  left: 0;
  width: 100%;
}

body {
  background: $primaryBackground;
  overflow-x: hidden;
  height: 1000px;
}

.button-transparent {
  border: 4px solid white;
  border-radius: 50px;
  padding: 14px;
  padding-left: 37px;
  padding-right: 37px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: $primaryText;
    color: $primaryBackground;
  }
}
